In [1]:
import pandas as pd
import numpy as np
import Cleanup

In [2]:
# define the function to be called later
clean = Cleanup.clean() #calling out the function 'Cleanup'

In [3]:
df = pd.read_csv("EMD_Reconstructed(i80 0500-0515).csv") #read csv file
df.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
0,284,63,526,1113436773200,41.375,83.945174,6042864.125,2133138.844,15.4,5.9,2,26.503468,5.673412,4,0,0,0.0,0.0
1,284,64,526,1113436773300,41.375,86.630512,6042863.571,2133143.309,15.4,5.9,2,27.203295,8.238863,4,0,0,0.0,0.0
2,284,65,526,1113436773400,41.374,89.397060,6042863.016,2133147.775,15.4,5.9,2,28.127674,10.137441,4,0,0,0.0,0.0
3,284,66,526,1113436773500,41.373,92.262882,6042862.462,2133152.241,15.4,5.9,2,29.188753,10.956390,4,0,0,0.0,0.0
4,284,67,526,1113436773600,41.372,95.237186,6042861.904,2133156.736,15.4,5.9,2,30.297327,11.081609,4,0,0,0.0,0.0

In [4]:
df = clean.filter_non_zero_values(df) # to remove or filter out any rows that contain non-zero values

In [5]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
1598,289,123,429,1113436779200,66.236,159.261367,6042877.309,2133234.273,10.9,5.3,2,41.983448,4.082537,6,285,309,77.73,1.80
1599,289,124,429,1113436779300,66.238,163.478386,6042876.779,2133238.550,10.9,5.3,2,42.356944,3.336489,6,285,309,77.43,1.80
1600,289,125,429,1113436779400,66.241,167.729053,6042876.250,2133242.827,10.9,5.3,2,42.656395,2.611744,6,285,309,76.94,1.79
1601,289,126,429,1113436779500,66.243,172.006029,6042875.721,2133247.103,10.9,5.3,2,42.883117,1.891801,6,285,309,76.46,1.77
1602,289,127,429,1113436779600,66.245,176.301989,6042875.191,2133251.380,10.9,5.3,2,43.036081,1.146649,6,285,309,76.14,1.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2077,6401,988,1113437407000,66.958,503.744606,6042835.561,2133577.969,15.3,6.9,2,5.884649,-2.171436,6,2189,2111,43.50,4.35
1048571,2077,6402,988,1113437407100,66.958,504.322779,6042835.438,2133578.962,15.3,6.9,2,5.678815,-1.945241,6,2189,2111,43.58,4.35
1048572,2077,6403,988,1113437407200,66.957,504.881420,6042835.315,2133579.954,15.3,6.9,2,5.494006,-1.750942,6,2189,2111,43.66,4.35
1048573,2077,6404,988,1113437407300,66.957,505.422832,6042835.193,2133580.947,15.3,6.9,2,5.334228,-1.444620,6,2189,2111,43.73,4.39
1048574,2077,6405,988,1113437407400,66.957,505.950085,6042835.067,2133581.969,15.3,6.9,2,5.210836,-1.023218,6,2189,2111,43.81,4.55

In [6]:
df = clean.filter_by_desired_lanes(df) #keep only the rows in the DataFrame that correspond to the specified lane(s)

In [7]:
df_filtered= clean.remove_lane_change(df) #df_filtered will contain the DataFrame with lane changes removed

In [8]:
df_filtered

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
3276,293.0,265.0,630.0,1.113437e+12,29.602,754.444203,6042767.483,2133819.890,15.3,6.9,2.0,27.748231,-2.332092,3.0,284.0,295.0,39.60,1.52
3277,293.0,266.0,630.0,1.113437e+12,29.572,757.207792,6042767.116,2133822.464,15.3,6.9,2.0,27.523549,-2.142124,3.0,284.0,295.0,39.87,1.53
3278,293.0,267.0,630.0,1.113437e+12,29.541,759.949869,6042766.749,2133825.038,15.3,6.9,2.0,27.317992,-1.951254,3.0,284.0,295.0,40.15,1.54
3279,293.0,268.0,630.0,1.113437e+12,29.511,762.672162,6042766.382,2133827.612,15.3,6.9,2.0,27.127864,-1.834870,3.0,284.0,295.0,40.43,1.56
3280,293.0,269.0,630.0,1.113437e+12,29.481,765.375820,6042766.015,2133830.186,15.3,6.9,2.0,26.945309,-1.800452,3.0,284.0,295.0,40.71,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046658,2070.0,6994.0,369.0,1.113437e+12,2.333,1579.232365,6042614.367,2134629.479,13.8,7.8,2.0,32.276466,-4.466449,1.0,2064.0,2872.0,52.07,2.13
1046659,2070.0,6995.0,369.0,1.113437e+12,2.381,1582.436724,6042614.049,2134631.765,13.8,7.8,2.0,31.810720,-4.848473,1.0,2064.0,2872.0,52.62,2.36
1046660,2070.0,6996.0,369.0,1.113437e+12,2.394,1585.592572,6042613.760,2134633.647,13.8,7.8,2.0,31.306232,-5.241289,1.0,2064.0,2872.0,53.35,2.47
1046661,2070.0,6997.0,369.0,1.113437e+12,2.420,1588.696046,6042613.468,2134635.626,13.8,7.8,2.0,30.763247,-5.618423,1.0,2064.0,2872.0,53.69,2.36
1046662,2070.0,6998.0,369.0,1.113437e+12,2.450,1591.743396,6042613.125,2134637.955,13.8,7.8,2.0,30.183750,-5.971515,1.0,2064.0,2872.0,54.26,2.14

In [9]:
l = ['Vehicle_ID', 'Frame_ID', 'Total_Frames', 'v_Class', 'Lane_ID', 'Preceding', 'Following']
for col in l:
    df_filtered[col] = df_filtered[col].astype(int) #converts all the values to integers

### Adding two new column (Location and Time period)

In [10]:
num_rows = df_filtered.shape[0]
df_filtered["Location"] = ['i80']*num_rows #populates all rows in that column with the value 'i80 on all rows
df_filtered["Period"] = ['5:00PM - 5:15PM']* #num_rows populates all rows in that column with the value '5:00PM - 5:15PM' on all rows

In [11]:
df_filtered.to_csv("Cleaned_5_515.csv") #saves the dataset into csv file named "Clean_5_515"