In [1]:
import pandas as pd 
import numpy as np 
import Cleanup

In [2]:
# define the function to be called later
clean = Cleanup.clean() #calling out the function 'Cleanup'

In [3]:
df = pd.read_csv("EMD_Reconstructed(i80 0515-0530).csv") #read csv file
df.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
0,3,613,1153,1113437626200,28.369,67.290627,6042851.531,2133134.762,12.8,6.8,2,4.929700,1.064082,3,9,0,21.17,2.39
1,3,614,1153,1113437626300,28.370,67.789941,6042851.469,2133135.258,12.8,6.8,2,5.056585,1.453711,3,9,0,21.59,2.44
2,3,615,1153,1113437626400,28.372,68.303695,6042851.346,2133136.250,12.8,6.8,2,5.218489,1.758948,3,9,0,21.51,2.43
3,3,616,1153,1113437626500,28.374,68.834859,6042851.223,2133137.243,12.8,6.8,2,5.404807,1.938183,3,9,0,21.42,2.42
4,3,617,1153,1113437626600,28.375,69.385326,6042851.143,2133137.889,12.8,6.8,2,5.604517,2.024664,3,9,0,21.58,2.44

In [4]:
df = clean.filter_non_zero_values(df) #to remove or filter out any rows that contain non-zero values

In [5]:
df = clean.filter_by_desired_lanes(df) #keep only the rows in the DataFrame that correspond to the specified lane(s)

In [6]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
74,3,687,1153,1113437633600,28.370,113.540334,6042845.435,2133183.885,12.8,6.8,2,5.570356,0.191500,3,9,41,40.55,8.11
75,3,688,1153,1113437633700,28.371,114.098600,6042845.374,2133184.381,12.8,6.8,2,5.594962,0.296775,3,9,41,40.57,8.11
76,3,689,1153,1113437633800,28.371,114.660000,6042845.312,2133184.877,12.8,6.8,2,5.633037,0.458737,3,9,41,40.53,8.11
77,3,690,1153,1113437633900,28.371,115.225945,6042845.250,2133185.374,12.8,6.8,2,5.685858,0.589391,3,9,41,40.51,8.10
78,3,691,1153,1113437634000,28.372,115.797590,6042845.189,2133185.870,12.8,6.8,2,5.747054,0.624925,3,9,41,40.51,8.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1757,6959,1386,1113438260800,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000091,3,1744,1764,158.90,9999.99
1048571,1757,6960,1386,1113438260900,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000089,3,1744,1764,159.68,9999.99
1048572,1757,6961,1386,1113438261000,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000159,3,1744,1764,160.65,9999.99
1048573,1757,6962,1386,1113438261100,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000182,3,1744,1764,161.68,9999.99
1048574,1757,6963,1386,1113438261200,29.320,654.857278,6042779.684,2133721.583,30.3,8.5,3,0.000000,-0.000287,3,1744,1764,162.69,9999.99

In [7]:
df_filtered= clean.remove_lane_change(df) #df_filtered will contain the DataFrame with lane changes removed

In [8]:
l = ['Vehicle_ID', 'Frame_ID', 'Total_Frames', 'v_Class', 'Lane_ID', 'Preceding', 'Following']
for col in l:
    df_filtered[col] = df_filtered[col].astype(int) #converts all the values to integers

In [9]:
df_filtered

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
74,3,687,1153,1.113438e+12,28.370,113.540334,6042845.435,2133183.885,12.8,6.8,2,5.570356,0.191500,3,9,41,40.55,8.11
75,3,688,1153,1.113438e+12,28.371,114.098600,6042845.374,2133184.381,12.8,6.8,2,5.594962,0.296775,3,9,41,40.57,8.11
76,3,689,1153,1.113438e+12,28.371,114.660000,6042845.312,2133184.877,12.8,6.8,2,5.633037,0.458737,3,9,41,40.53,8.11
77,3,690,1153,1.113438e+12,28.371,115.225945,6042845.250,2133185.374,12.8,6.8,2,5.685858,0.589391,3,9,41,40.51,8.10
78,3,691,1153,1.113438e+12,28.372,115.797590,6042845.189,2133185.870,12.8,6.8,2,5.747054,0.624925,3,9,41,40.51,8.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1757,6959,1386,1.113438e+12,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000091,3,1744,1764,158.90,9999.99
1048571,1757,6960,1386,1.113438e+12,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000089,3,1744,1764,159.68,9999.99
1048572,1757,6961,1386,1.113438e+12,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000159,3,1744,1764,160.65,9999.99
1048573,1757,6962,1386,1.113438e+12,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000182,3,1744,1764,161.68,9999.99
1048574,1757,6963,1386,1.113438e+12,29.320,654.857278,6042779.684,2133721.583,30.3,8.5,3,0.000000,-0.000287,3,1744,1764,162.69,9999.99

### Adding two new column(LOcation and time period)

In [10]:
num_rows = df_filtered.shape[0]
df_filtered["Location"] = ['i80']*num_rows #populates all rows in that column with the value 'i80 on all rows
df_filtered["Period"] = ['5:15PM - 5:30PM']*num_rows #num_rows populates all rows in that column with the value '5:15PM - 5:30PM' on all rows

In [11]:
df_filtered.to_csv("Cleaned_515_530.csv") #saves the dataset into csv file named "Clean_515_530"